html{
  --color-main-background: rgba(252, 245, 245, 0.85);
}
#app {
  font-family: 'Microsoft YaHei', 'PingFang SC', --apple-system, system-ui,
  'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', BlinkMacSystemFont,
  'Helvetica Neue', 'Hiragino Sans GB', Arial, sans-serif;
  grid-template-columns: max-content auto;
  grid-template-areas: 'navigation-pane main';
  justify-items: stretch;
  max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Microsoft YaHei', 'PingFang SC', --apple-system, system-ui,
  'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', BlinkMacSystemFont,
  'Helvetica Neue', 'Hiragino Sans GB', Arial, sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fill-width {
  width: 100%;
}

.fill-screen {
  flex: 1;
}
